<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>fileTypes</key>
    <array>
      <string>step</string>
    </array>
    <key>name</key>
    <string>Step</string>
    <key>patterns</key>
    <array>
      <dict>
        <key>name</key>
        <string>entity.name.function</string>
        <key>match</key>
        <string>^[^:]*:</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.other</string>
        <key>match</key>
        <string>\?[a-zA-Z/\+]+</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[end\]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[or\]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[else\]</string>
      </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[first success\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[must work\]</string>
	    </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[randomly\]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[firstOf\]</string>
      </dict>
	  <dict>
		<key>name</key>
		<string>keyword.control</string>
		<key>match</key>
		<string>\[once\]</string>
	  </dict>
	  <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[case [^\]]+\]</string>
      </dict>
	  <dict>
		<key>name</key>
		<string>keyword.control</string>
		<key>match</key>
		<string>\[cool [^\]]+\]</string>
	  </dict>
      <dict>
        <key>name</key>
        <string>string.interpolated</string>
        <key>begin</key>
        <string>\[</string>
        <key>end</key>
        <string>\]</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#keywords</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#bracketed</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>invalid.illegal</string>
        <key>match</key>
        <string>\]</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>bracketed</key>
      <dict>
        <key>begin</key>
        <string>\[</string>
        <key>end</key>
        <string>\]</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#bracketed</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>keywords</key>
    <dict>
      <key>name</key>
      <string>keyword.control</string>
      <key>match</key>
      <string>set</string>
    </dict>
    <key>scopeName</key>
    <string>source.step</string>
    <key>uuid</key>
    <string>FA4F22B4-180D-417B-B67E-EEEF3F5A9CA4</string>
  </dict>
</plist>
