<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>fileTypes</key>
    <array>
      <string>step</string>
    </array>
    <key>name</key>
    <string>Step</string>
    <key>patterns</key>
    <array>
		<dict>
			<key>name</key>
			<string>comment.line</string>
			<key>begin</key>
			<string>^#\s+\[</string>
			<key>end</key>
			<string>\]$</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>name</key>
					<string>entity.name.function</string>
					<key>match</key>
					<string>[^\]]*</string>
				</dict>
			</array>
		</dict>
	    <dict>
		    <key>name</key>
		    <string>comment.block</string>
		    <key>match</key>
		    <string>^##\s*.*</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>comment.line</string>
		    <key>match</key>
		    <string>^#\s*.*</string>
	    </dict>
		<dict>
		    <key>name</key>
		    <string>entity.name.function</string>
		    <key>match</key>
		    <string>^predicate .+\.</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>entity.name.function</string>
		    <key>match</key>
		    <string>^task .+\.</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>entity.name.function</string>
		    <key>match</key>
		    <string>^fluent .+\.</string>
	    </dict>
	    <dict>
        <key>name</key>
        <string>entity.name.function</string>
        <key>match</key>
        <string>^[^ ][^:.]*[:.]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.other</string>
        <key>match</key>
        <string>\?[a-zA-Z/\+]+</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[end\]</string>
      </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[e?s\]</string>
	    </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[or\]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[else\]</string>
      </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[then\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[generator\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[predicate\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[fluent\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[remembered\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[suffix\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[main\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[fallible\]</string>
	    </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[retriable\]</string>
	    </dict>
	    <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[randomly\]</string>
      </dict>
      <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[firstOf\]</string>
      </dict>
	    <dict>
		    <key>name</key>
		    <string>keyword.control</string>
		    <key>match</key>
		    <string>\[sequence\]</string>
	    </dict>
	  <dict>
		<key>name</key>
		<string>keyword.control</string>
		<key>match</key>
		<string>\[once\]</string>
	  </dict>
	  <dict>
        <key>name</key>
        <string>keyword.control</string>
        <key>match</key>
        <string>\[case [^\]]+\]</string>
      </dict>
	  <dict>
		<key>name</key>
		<string>keyword.control</string>
		<key>match</key>
		<string>\[cool[^\[\]]*\]</string>
	  </dict>
      <dict>
        <key>name</key>
        <string>string.interpolated</string>
        <key>begin</key>
        <string>\[</string>
        <key>end</key>
        <string>\]</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#keywords</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#bracketed</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>invalid.illegal</string>
        <key>match</key>
        <string>\]</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>bracketed</key>
      <dict>
        <key>begin</key>
        <string>\[</string>
        <key>end</key>
        <string>\]</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#bracketed</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>keywords</key>
    <dict>
      <key>name</key>
      <string>keyword.control</string>
      <key>match</key>
      <string>set</string>
    </dict>
	  <dict>
		  <key>name</key>
		  <string>keyword.control</string>
		  <key>match</key>
		  <string>now</string>
	  </dict>
	  <dict>
		  <key>name</key>
		  <string>keyword.control</string>
		  <key>match</key>
		  <string>initially</string>
	  </dict>
	  <dict>
		  <key>name</key>
		  <string>keyword.control</string>
		  <key>match</key>
		  <string>add</string>
	  </dict>
	  <dict>
		  <key>name</key>
		  <string>keyword.control</string>
		  <key>match</key>
		  <string>removeNext</string>
	  </dict>
    <key>scopeName</key>
    <string>source.step</string>
    <key>uuid</key>
    <string>FA4F22B4-180D-417B-B67E-EEEF3F5A9CA4</string>
  </dict>
</plist>
